<div>

    <div style="height: 400px; width: 600px;">
      <am-chart id="myFirstChart" options="amChartOptions"></am-chart>
    </div>

  <!--div style="border: solid; height: 400px; width: 600px" >Chart</div>
  <am-chart id="myFirstChart" options="amChartOptions" height="100%" width="100%"></am-chart>
  <div>End</div>
  <button ng-click="makeChart('extchart')">Chart</button>
  <p/>
  <dif style="border: solid; height: 400px; width: 600px" id="extchart">ExtChart</dif>
  <div>End</div-->
</div>
